@page "/device-details/{id}"

@using TrackMap.Components;

<PageTitle>Device details</PageTitle>

<h1>Device details</h1>

@if (Device is null)
{
    <LoadingIndicator />
}
else
{
    <h3>@Device.IpAddress</h3>

    <table class="table">
        <tr>
            <td>Device Type</td>
            <td>@Device.DeviceType</td>
        </tr>

        <tr>
            <td>Device OS</td>
            <td>@Device.DeviceOs</td>
        </tr>

        <tr>
            <td>Latitude</td>
            <td>@Device.Latitude</td>
        </tr>

        <tr>
            <td>Longtitude</td>
            <td>@Device.Longtitude</td>
        </tr>

        <tr>
            <td>LastLogin</td>
            <td>@Device.LastLogin.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>

        <tr>
            <td>Created At</td>
            <td>@Device.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>

        <tr>
            <td>Updated At</td>
            <td>@(Device.UpdatedAt.HasValue ? Device.UpdatedAt.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)</td>
        </tr>
    </table>
}
