@page "/device-detail/{id}"

@using Microsoft.AspNetCore.Authorization
@using TrackMap.Components
@using TrackMap.Services

@inject IConfiguration Configuration
@inject IToastService ToastService
@inject IDeviceService DeviceService

@attribute [Authorize]

<PageTitle>Device detail</PageTitle>

@if (Device is null)
{
    <LoadingIndicator />
}
else
{
    <h1>Device detail</h1>
    <h3 class="mt-4">@Device.IpAddress</h3>

    <table class="table mt-3">
        <tr>
            <td>Device Type</td>

            <td>
                <DeviceTypeLabel DeviceType="Device.DeviceType" />
            </td>
        </tr>

        <tr>
            <td>Device OS</td>

            <td>
                <DeviceOsLabel DeviceOs="Device.DeviceOs" />
            </td>
        </tr>

        <tr>
            <td>Latitude</td>
            <td>@Device.Latitude</td>
        </tr>

        <tr>
            <td>Longitude</td>
            <td>@Device.Longitude</td>
        </tr>

        <tr>
            <td>Created At</td>
            <td>@Device.CreatedAt.ToString(Configuration["DateTimeFormat"])</td>
        </tr>

        <tr>
            <td>Updated At</td>
            <td>@(Device.UpdatedAt.HasValue ? Device.UpdatedAt.Value.ToString(Configuration["DateTimeFormat"]) : "N/A")</td>
        </tr>

        <tr>
            <td>LastLogin</td>
            <td>@Device.LastLogin.ToString(Configuration["DateTimeFormat"])</td>
        </tr>

        <tr>
            <td>Status</td>
            <td>
                <StatusLabel Status="@Device.Status" />
            </td>
        </tr>

        <tr>
            <td>User</td>

            <td>
                <a href="/user-detail/@(Device.User?.Id)">@Device.User?.UserName</a>
            </td>
        </tr>
    </table>
}
