@page "/users"

@using Microsoft.AspNetCore.Authorization
@using TrackMap.Components

@inject IConfiguration Configuration;

@attribute [Authorize]

<PageTitle>User list</PageTitle>
<h1>User list</h1>

@if (Users is null)
{
    <LoadingIndicator />
}
else
{
    <div class="row">
        <EditForm Model="UserSearch" OnSubmit="HandleUserSearch">
            <div class="row">
                <div class="col">
                    <label>Full Name</label>
                    <InputText class="form-control" @bind-Value="UserSearch.FullName" />
                </div>

                <div class="col">
                    <label>Email</label>
                    <InputText class="form-control" @bind-Value="UserSearch.Email" />
                </div>

                <div class="col">
                    <label>Phone Number</label>
                    <InputText class="form-control" @bind-Value="UserSearch.PhoneNumber" />
                </div>

                <div class="col pt-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>Created Date</th>
                    <th />
                </tr>
            </thead>

            <tbody>
                @foreach (var user in Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@(user.FullName ?? "N/A")</td>
                        <td>@(user.Email ?? "N/A")</td>
                        <td>@(user.PhoneNumber ?? "N/A")</td>
                        <td>@user.CreatedAt.ToString(Configuration["DateFormat"])</td>

                        <td>
                            <a href="/user-detail/@user.Id">Detail</a>
                            <a> | </a>
                            <a href="/devices" @onclick="()=>HandleDevices(user.Devices!)">Devices</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
