@page "/user-details/{id}"

@using TrackMap.Components;

<PageTitle>User details</PageTitle>

<h1>User details</h1>

@if (User is null)
{
    <LoadingIndicator />
}
else
{
    <h3>@($"{User.LastName} {User.FirstName}")</h3>

    <table class="table">
        <tr>
            <td>Email</td>
            <td>@User.Email</td>
        </tr>

        <tr>
            <td>Phone Number</td>
            <td>@User.PhoneNumber</td>
        </tr>

        <tr>
            <td>Created At</td>
            <td>@User.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>

        <tr>
            <td>Updated At</td>
            <td>@(User.UpdatedAt.HasValue ? User.UpdatedAt.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)</td>
        </tr>
    </table>
}
